<hr/>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Order For {{prodName}}</h3>
        </div>
        <div class="panel-body">
            <form #form="ngForm" (submit)="submitForm(form)">
                <input type="hidden" name="cost" [(ngModel)]="price"/>
                <input type="hidden" name="product_name" [(ngModel)]="prodName"/>
                <div class="form-group">
                    <label for="fname" class="control-label">Id</label>
                    <input class="form-control" type="text" id="id"
                    name="id" readonly [(ngModel)]="orderid" />
                </div>
                <div class="form-group">
                    <label for="fname" class="control-label">Name</label>
                    <input class="form-control" type="text" id="fname"
                    name="name" required [(ngModel)]="myOrder.name"/>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input class="form-control" type="text" id="email"
                    name="email" required [(ngModel)]="myOrder.email"/>
                </div>
                <div class="form-group">
                    <label for="address" class="control-label">Address</label>
                    <input class="form-control" type="text" id="address"
                    name="address" required [(ngModel)]="myOrder.address"/>
                </div>
                <div class="form-group">
                    <label for="phone" class="control-label">Phone</label>
                    <input class="form-control" type="text" id="phone"
                    name="phone" required [(ngModel)]="myOrder.phone"/>
                </div>
                <h3>Total Cost {{price|currency:'INR'}}</h3>
                <button class="btn btn-success" type="submit" data-toggle="modal"
                data-target="#paymentModal">
                    Place Order
                </button>
                <div id="paymentModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    &times;
                                </button>
                                <h4 class="modal-title">Order Payment for id {{id}}</h4>
                            </div>  
                            <div class="modal-body">
                                <p>Process for payment of Rs.{{price}}</p>
                                <a class="btn btn-info" [href]="url">
                                    Pay Now
                                </a>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger"
                                data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>