<footer>
    <div id="mainFoot">
        <div class="footCol">
            <h5>ABOUT</h5>
            <a>Contact Us</a>
            <a>About Us</a>
        </div>
        <div class="footCol">
            <h5>Help</h5>
            <a>Contact Us</a>
            <a>About Us</a>
        </div>
        <div class="footCol">
            <h5>Policy</h5>
            <a>Contact Us</a>
            <a>About Us</a>
        </div>
        <div class="footCol">
            <h5>Mail Us:</h5>
            <a>Contact Us</a>
            <a>About Us</a>
        </div>
        <div class="footCol">
            <h5>Registered Office Address:</h5>
            <a>Contact Us</a>
            <a>About Us</a>
        </div>
    </div>
    <br/>
    <hr/>
    <p>&copy; Developer Funnel Build with &hearts;</p>
   
</footer>