<hr/>
<h3>Cost Filter</h3>
<div class="form-check">
    <div>
         <label>
            <input type="radio" value="100-300" name="ratingStar"
            [(ngModel)]="costVal"
            (change)="onCostSelect()"/>
            100-300
        </label>
    </div>
    <div>
        <label>
            <input type="radio" value="301-800" name="ratingStar"
            [(ngModel)]="costVal"
            (change)="onCostSelect()"/>
            301-800
        </label>
    </div>
    <div>
        <label>
            <input type="radio" value="801-1000" name="ratingStar"
            [(ngModel)]="costVal"
            (change)="onCostSelect()"/>
            801-1000
        </label>
    </div>
    <div>
        <label>
            <input type="radio" value="1001-2000" name="ratingStar"
            [(ngModel)]="costVal"
            (change)="onCostSelect()"/>
            1001-2000
        </label>
    </div>
    <div>
        <label>
            <input type="radio" value="2001-5000" name="ratingStar"
            [(ngModel)]="costVal"
            (change)="onCostSelect()"/>
            2001-5000
        </label>
    </div>
</div>