<hr/>
<h3>{{filterName}}</h3>
<div class="form-check">
    <div>
         <label>
            <input type="radio" value="4" name="ratingStar"
            [(ngModel)]="ratingVal"
            (change)="onRatingSelect()"/>
            4 <i class="fa-solid fa-star"></i> & above
        </label>
    </div>
    <div>
        <label>
            <input type="radio" value="3" name="ratingStar"
            [(ngModel)]="ratingVal"
            (change)="onRatingSelect()"/>
            3 <i class="fa-solid fa-star"></i> & above
        </label>
    </div>
    <div>
        <label>
            <input type="radio" value="2" name="ratingStar"
            [(ngModel)]="ratingVal"
            (change)="onRatingSelect()"/>
            2 <i class="fa-solid fa-star"></i> & above
        </label>
    </div>
    <div>
        <label>
            <input type="radio" value="1" name="ratingStar"
            [(ngModel)]="ratingVal"
            (change)="onRatingSelect()"/>
            1 <i class="fa-solid fa-star"></i> & above
        </label>
    </div>
</div>