<header>
    <div id="logo">
        <a [routerLink]="['/home']"><img src="/assets/images/flipkart.png" alt="flipicon"/></a>
        <a href="#">
            <span id="plus">Plus
                <img src="/assets/images/flipkart-logo-last-part.png" alt="plus"/>
            </span>
        </a>
    </div>
    <div id="search-box">
        <input id="search-bar" placeholder="Search..."/>
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div id="login">
        <div *ngIf='token == null'>
            <a class="btn btn-info" [routerLink]="['/login']">
                <span class="glyphicon glyphicon-log-in"></span> Login
            </a> &nbsp;&nbsp;&nbsp;
            <a class="btn btn-warning" [routerLink]="['/register']">
                <span class="glyphicon glyphicon-user"></span> SignUp
            </a>
        </div>
        <div *ngIf='token !== null'>
            <a class="btn btn-info">
                <span class="glyphicon glyphicon-user"></span>
                Hi {{userInfo.name}}
            </a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-danger" (click)="logoutUser()">
                <span class="glyphicon glyphicon-log-out"></span> LogOut
            </a>
        </div>
    </div>
</header>