<header>
    <div id="logo">
        <a href=""><img src="/assets/images/flipkart.png" alt="flipicon"/></a>
        <a href="#">
            <span id="plus">Plus
                <img src="/assets/images/flipkart-logo-last-part.png" alt="plus"/>
            </span>
        </a>
    </div>
    <div id="search-box">
        <input id="search-bar" placeholder="Search..."/>
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div id="login">
        <button> Login</button> &nbsp;&nbsp;&nbsp;
        <button> SignUp</button>
    </div>
</header>