.item-card {
    width: 27%;
    height: auto;
    margin: 2%;
    margin-left: 3%;
    float: left;
}

.item-card:hover {
    box-shadow: 1px 1px 28px lightgrey;
}

.item-card-img {
    width: 80%;
    margin: auto;
    margin-top: 6%;
}

.item-card-body {
    margin-top: 2%;
}

.item-card-btn1 {
    width: 47%;
}

.item-card-btn2 {
    width: 50%;
}

.item-card-btn1:hover {
    box-shadow: 1px 1px 3px orange;
}
.item-card-btn2:hover {
    box-shadow: 0px 0px 4px red;
}
.main {
    display: inline-block;
    width: 98%;
}
/* content style */
.content {
    font-size: 1.1em;
    width: 65%;
    float: left;
    margin-top: 1.9%;
    line-height: 2;
    background-color: white;
    padding-left: 25px;
    padding-top: 5px;
}
.description {
    font-size: 29px;
}
span {
    margin-right: 5px;
}
.stars {
    color: white;
    background: blue;
    padding: 3px;
    border-radius: 4px;
}
.ratings, .reviews {
    background-color: #fbf4cf;
    padding: 5px;
    border-radius: 4px;
    color: #332a5e;
}
.new-price {
    font-size: 27px;
}
.old-price {
    text-decoration: line-through;
}
.discount {
    color: green;
    font-weight: bold;
    letter-spacing: 1;
}
.offer {
    margin-top: 1%;
}
.offer1 {
    font-size: 1.7em;
}
.delivery-bar {
    margin-bottom: 2%;
    margin-top: 2%;
}
.delivery-bar > label {
    margin-right: 1%;
}
.delivery-bar > input {
    width: 15%;
    display: inline;
    border: none;
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #ede8e8;
    margin-right: 1%;
    box-shadow: none !important;
}
.delivery-bar > button {
    color: green;
    border: 1px solid green;
    box-shadow: none !important;
}
.delivery-bar > button:hover {
    background: #61c261;
    color: white;
}
.size > span {
    margin-right: 32px;
}
.size > label {
    height: 26px;
    width: 28px;
    font-size: 16px;
    padding: 0;
}
.size > label:focus {
    background-color: lightblue;
    color: white;
}
.highlight-services {
    display: inline-block;
    width: 100%;
}
.highlights {
    margin-top: 1%;
    width: 70%;
    float: left;
}
.services {
    float: left;
    margin-top: 6%;
}
.highlights > span {
    font-size: 1.7em;
}
.summary > div {
    font-size: 1.7em;
}
.summary > p {
    line-height: 1.5;
    margin-bottom: 0.5%;
}
.summary {
    margin-bottom: 50px;
}
.tags-color {
    color: green;
    margin-right: 3px;
}